@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  display: block;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  font-family: "Fira Sans", sans-serif;
}

/* header */
.logo-header {
  height: 15vh;
  display: grid;
  grid-template-columns: [first] 7vw [line2] 20vw [line3] auto [col4-start] 3vw [five] 10vw [end];
  align-items: center;
}

.logo-header hr {
  grid-area: 1 / 1 / 1 / 6;
  border: 0px;
  border-bottom: 0.25vw solid #ed1b2f;
}

.logo-icon {
  grid-area: 1 / 2 / 1 / 2;
}

.logout-button {
  grid-area: 1 / 4 / 1 / 4;
  border: 0 !important;
  background: transparent;
}

/* main section */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 5vh;
  width: 100%;
}

/* main section right hand side */
.login-card,
.register-card,
.course-card,
.type-card,
.rate-card {
  background: #ffffff;
  padding: 5vw;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 13.5469px 42.6505px rgba(0, 0, 0, 0.0637972),
    0px 6.74174px 31.0117px rgba(0, 0, 0, 0.0439704);
  border-radius: 20px;
}

.course-card {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}

.type-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  min-width: 30vw;
}

.rate-card {
  min-height: 32vh;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.type-submit {
  margin-top: 5vh;
  align-self: center;
}

.course-select {
  margin-bottom: 20vh;
}

.login-card a,
.register-card a {
  margin-left: 20vw;
  text-decoration: none;
  color: black;
}

.login-card a:hover,
.register-card a:hover {
  text-decoration: underline;
  color: blue;
}

.login-card p,
.register-card p,
.course-card p,
.type-card p,
.type-card h1,
.rate-card h1 {
  font-size: 1.7vw;
  font-weight: 700;
}

.feature-description {
  font-size: 1.3vw;
  font-weight: 400;
  padding: 2vw;
}

.login-register {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 2px;
  padding: 1.4vw;
}

.login-register ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.login-register li {
  display: block;
  padding: 9px;
  border: 1px solid black;
  margin-bottom: 30px;
  border-radius: 3px;
}

.login-register li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

.login-register li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #ffffff;
  height: 14px;
  line-height: 14px;
  padding: 2px 5px 2px 5px;
  color: black;
  font-size: 14px;
  overflow: hidden;
}

.login-register input[type="text"],
.login-register input[type="password"],
.login-register input[type="email"],
.login-register input[type="number"],
.login-register textarea,
.login-register select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
}

.login-register li > span {
  background: #bfbfbf;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: black;
  font-size: 11px;
}

.login-register textarea {
  resize: none;
}

.login-register input[type="submit"],
.course-card input[type="submit"],
.type-card input[type="submit"] {
  background: #0b1d51;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #0b1d50;
  border-radius: 3px;
  color: white;
}

.login-register input[type="submit"]:hover:not([disabled]),
.course-card input[type="submit"]:hover:not([disabled]),
.type-card input[type="submit"]:hover:not([disabled]) {
  background: #253f8a;
  color: white;
}

.login-register input[type="submit"]:disabled,
.course-card input[type="submit"]:disabled,
.type-card input[type="submit"]:disabled {
  opacity: 0.8;
  transform: scale(0.95);
}

.register {
  padding: 0px;
  margin-bottom: 0px;
}

/* main section left hand side */
.info {
  text-align: center;
  padding: 5vw;
}

.info h1 {
  font-weight: 800;
  font-size: 3.5em;
}

.info p {
  font-weight: 400;
  font-size: 1em;
}

.rate-card button,
.button-style {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 23px;
  outline: none;
  padding: 0.5vw 2vw 0.5vw 2vw;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

.rate-card button:hover,
.button-style:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.rate-card button:focus,
.button-style:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.dashboard-container {
  align-items: center;
}

.greet {
  font-size: 3em;
  font-weight: 900;
}

/* features */
/* Rate A TA */
.feature-card {
  margin: 0 50px 0 0;
  background: #ffffff;
  padding: 5vw;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.07),
    0px 48.906px 121.316px rgba(0, 0, 0, 0.0883387),
    0px 33.5842px 114.436px rgba(0, 0, 0, 0.102137),
    0px 23.2247px 94.1624px rgba(0, 0, 0, 0.110268),
    0px 14.7404px 66.6215px rgba(0, 0, 0, 0.110346),
    0px 7.14191px 34.7172px rgba(0, 0, 0, 0.0960117);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.feature-card img {
  width: 30vw;
}

.feature-card p {
  text-align: center;
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 5vh;
}

.finish-container p {
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
}

.rating-container h3,
.rating-container label {
  font-size: 1.5vw;
  font-weight: 600;
}

.select-course-container,
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-container {
  width: 30vw;
}

.rating-container textarea {
  width: 25vw;
  box-sizing: border-box;
  border: 1px solid blue;
  padding: 2vw;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 85.7516px 85.7516px rgba(0, 0, 0, 0.07),
    0px 34.6096px 28.1727px rgba(0, 0, 0, 0.0624834),
    0px 21.794px 6.40633px rgba(0, 0, 0, 0.0669598),
    0px 15.1142px 0px rgba(0, 0, 0, 0.0714271),
    0px 10.009px 0px rgba(0, 0, 0, 0.0725387);
}

.select-course {
  width: 30vw;
  margin-bottom: 10px;
}

.finish-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.finish-container button {
  width: 25vw;
  height: 25vh;
  border: 1px solid black;
}

.select-term-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.term-year {
  margin: 20px;
}

.select-year,
.select-term {
  width: 10vw;
  margin-bottom: 10vh;
}

.TAmanageOptions {
  display: flex;
}

.ta-wishlist {
  width: 30vw;
}

/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 3vw;
  color: white;
  margin-top: 10vh;
}

.footer ul {
  list-style: none;
  padding: 1vw;
}

.footer ul li a {
  text-decoration: none;
  color: #d7d7d7;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  height: 1.5vh;
  padding: 2vw;
  justify-content: space-evenly;
  margin-top: 0px;
  border-top: 0.1px solid #d7d7d7;
}

.footer-bottom img {
  width: auto;
  height: 5vh;
}

.footer-bottom a {
  text-decoration: none;
  color: #d7d7d7;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
